---
// import Card from "../components/Card.astro";

const isProd = import.meta.env.PROD;
---

<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>이력서 - 조영도</title>
    <link
      rel="stylesheet"
      as="style"
      crossorigin
      href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.4/dist/web/static/pretendard.css"
    />
    <link rel="stylesheet" href="/normalize.css" />
    <link rel="stylesheet" href="/index.css" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    {
      isProd && (
        <>
          <script async src="https://www.googletagmanager.com/gtag/js?id=G-2LDBHRPKXL" />
          <script is:inline>
            window.dataLayer = window.dataLayer || []; function gtag() {dataLayer.push(arguments)}; gtag("js", new
            Date()); gtag("config", "G-2LDBHRPKXL");
          </script>
        </>
      )
    }
  </head>
  <body>
    <div id="progress-bar"></div>
    <main class="border-box">
      <h1>
        <a name="안녕하세요. 조영도입니다." class="anchor" href="#안녕하세요. 조영도입니다.">
          안녕하세요. 조영도입니다.
        </a>
      </h1>

      <p class="version not-important">마지막 수정일: 2023.03.19</p>

      <p>
        웹 프론트엔드 개발자로 일하고 있습니다.<br />
        제가 만든 제품이 누군가에게든 도움이 되었을 때 가장 보람을 느끼며, 버그를 마주하면 해결에 최선을 다합니다.<br />
        스타트업에서 일한 경험을 바탕으로 주도적으로 일해야 하는 환경에도 어려워하지 않을 자신이 있습니다.<br />
        시대를 앞서가거나 이끌어가는 회사에서 일하고 싶습니다.
      </p>

      <h2>
        <a name="Contact" class="anchor" href="#Contact">Contact</a>
      </h2>
      <ul>
        <li>
          Email:
          <a href="mailto:yd199323@gmail.com" target="_blank"
            >&#121;&#x64;&#x31;&#57;&#57;&#x33;&#x32;&#51;&#x40;&#x67;&#x6d;&#x61;&#105;&#108;&#46;&#x63;&#111;&#x6d;
          </a>
        </li>
        <li>
          GitHub:
          <a href="https://github.com/young-do" target="_blank">https://github.com/young-do</a>
        </li>
        <li>
          Blog:
          <a href="https://velog.io/@racoon" target="_blank">https://velog.io/@racoon</a>
        </li>
        <li>
          LinkedIn:
          <a href="https://www.linkedin.com/in/young-do" target="_blank">https://www.linkedin.com/in/young-do</a>
        </li>
      </ul>
      <p>
        <span class="sr-only">
          본 이력서는, 이현섭님의 <a href="https://hyunseob.github.io/resume/">이력서</a>에서 양식을 참고하였습니다.
        </span>
      </p>

      <hr />

      <h2>
        <a name="Work Experiences" class="anchor" href="#Work Experiences">Work Experiences</a>
      </h2>
      <h3 class="accordion active">
        <a name="카카오엔터프라이즈" class="anchor" href="#카카오엔터프라이즈">카카오엔터프라이즈</a>
      </h3>
      <div class="panel">
        <p>웹 프론트엔드 개발자<br />2020.03 ~ 현재</p>

        <h4>카카오워크 화상회의 FE</h4>
        <p>2021.01 ~ 현재</p>

        <h5>Description</h5>
        <p>카카오워크 사용자들이 화상회의를 진행할 수 있는 웹페이지(PC, MOBILE)를 개선 및 유지보수하고 있습니다.</p>

        <h5>What did I do</h5>

        <h5>화상회의 2.0 (2022.05 ~ 현재)</h5>
        <ul>
          <li>
            기존엔 각 phase마다 도커 이미지 빌드가 필요했으나, SvelteKit으로 전환하여 하나의 이미지로 여러 phase에
            배포할 수 있도록 간편화하였습니다.
          </li>
          <li>상태관리 라이브러리를 RxJS 기반 라이브러리로 전환하여 레거시 코드의 위험도를 줄였습니다.</li>
          <li>functional css를 도입 및 적극 사용하여 번들된 css의 크기를 48%(85KB -> 45KB)로 줄였습니다.</li>
          <li>
            화상회의의 핵심인 WebRTC sdk 설계부터 참여하여 높은 이해도를 가지고
            <a href="https://blog.kakaowork.com/134" target="_blank">화상회의 2.0</a>을 성공적으로 개발할 수 있었습니다.
          </li>
          <li>
            화상회의 2.0 배포 후 더 나은 유저 경험 제공을 위해, 오픈 전 후로 제보된 버그를 수정하여 120건 이상의 지라
            티켓을 해결했습니다.
          </li>
          <li>
            AI 조직과 협업, tensorflow-js 기반 오픈소스를 활용하여
            <a href="https://blog.kakaowork.com/148" target="_blank">배경블러 효과기능</a>을 개발 및 배포하고 성능
            최적화를 진행했습니다.
          </li>
          <li>
            화상회의 개발을 위해 존재하던 여러 저장소들을
            <a href="https://turbo.build/" target="_blank">Turborepo</a>를 사용해 모노레포로 전환하여 불필요한 사내 npm
            배포를 제거하고 효율적으로 코드 관리를 할 수 있었습니다.
          </li>
        </ul>

        <h5 class="not-important">화상회의 1.0 (2021.01 ~ 2022.05)</h5>
        <ul>
          <li>
            기존에 api와 정적 파일을 하나의 nodejs 서버로 운영하던 형태를 api 서버와 웹 서버로 분리를 요청하고, 웹
            서버를 담당하여 코드 정리 및 typescript로 전환했습니다.
          </li>
          <li>기존 firebase를 사용하고 있던 부분을 사내 sdk로 전환하며, 해당 sdk의 유지보수도 진행하고 있습니다.</li>
          <li>미디어 스트림과 web picture-in-picture api를 활용하여 신규 기능을 구현했습니다.</li>
          <li>
            이모지, 손들기처럼 애니메이션이 포함된
            <a href="https://blog.kakaowork.com/95?category=989831" target="_blank">리액션 기능</a>을 구현했습니다.
          </li>
          <li>기존 git branch 전략이 phase 별로 이루어져 있던 것을 git-flow에 맞추어 변경했습니다.</li>
          <li>개발 환경을 rollup에서 vite로 변경하여 개발 편의성을 높였습니다.</li>
          <li>
            기존 소스에서
            <a href="https://news.mt.co.kr/mtview.php?no=2021110810303426810" target="_blank">공교육용 화상회의 버전</a>
            개발 및 배포했습니다.
          </li>
        </ul>

        <h5>Tech Stack</h5>
        <p><b>2.0:</b> Svelte, TS, unocss, Vite, SvelteKit, RxJS</p>
        <p class="not-important"><b>1.0:</b> Svelte, TS, Stylus, Vite, express, rxjs-like lib</p>

        <h5>URL</h5>
        <ul>
          <li>
            <a href="https://meeting.kakaowork.com/rac-oon-cho" target="_blank">
              https://meeting.kakaowork.com/rac-oon-cho
            </a>
          </li>
        </ul>

        <h4>카카오워크 서비스 연결 진단 FE</h4>
        <p>2020.10 ~ 2021.08</p>

        <h5>Description</h5>
        <p>
          외부 기업이 카카오워크 서비스를 도입하기 위해 필수로 열어두어야 하는 도메인들을 웹에서 테스트 할 수 있는
          페이지를 개발했습니다.
        </p>

        <h5>What did I do</h5>
        <ul>
          <li>웹에선 테스트 방식이 제한적이기에, 이를 기반으로 배포하기까지 기획자과 긴밀히 소통하며 개발했습니다.</li>
          <li>각 도메인 별 테스트 api 리스트를 취합하기 위해 각 도메인 담당 개발자분들과 소통하며 개발했습니다.</li>
          <li>http, websocket, turn server에도 접근 가능 여부를 확인할 수 있도록 개발했습니다.</li>
        </ul>

        <h5>Tech Stack</h5>
        <p>React, TS, Styled-components, Webpack</p>

        <h5>URL</h5>
        <ul>
          <li>
            <a href="https://www.kakaowork.com/connection-test" target="_blank">
              https://www.kakaowork.com/connection-test
            </a>
          </li>
        </ul>

        <h4>카카오워크 관리자 서비스 FE</h4>
        <p>2020.05 ~ 2020.12</p>

        <h5>Description</h5>
        <p>카카오워크 서비스를 도입한 기업의 관리자들을 위한 웹페이지에서 일부 기능 및 공통 모듈을 개발했습니다.</p>

        <h5>What did I do</h5>
        <ul>
          <li>일부 메뉴 페이지(직위직책관리, 관리자 설정) 구현했습니다.</li>
          <li>
            유저는 메뉴마다 접근 권한 개별적으로 부여될 수 있는 기획 요구 사항에 맞추고자, dynamic import를 활용하여
            권한이 없는 유저는 해당 페이지가 로드되지도 않도록 공통 모듈을 만들고 적용했습니다.
          </li>
          <li>페이지 전환 시 스켈레톤 스크린을 추가하는 것을 기획에 건의하고 구현 및 반영했습니다.</li>
          <li>custom dialog로 alert, confirm을 사용하듯이 할 수 있도록 구현했습니다.</li>
        </ul>

        <h5>Tech Stack</h5>
        <p>React, TS, Relay, GraphQL, Styled-components, Webpack, Storybook</p>

        <h5>URL</h5>
        <ul>
          <li>
            <a href="https://admin.kakaowork.com/" target="_blank">https://admin.kakaowork.com/</a>
          </li>
        </ul>

        <h4>카카오워크 블록 킷 빌더 FE</h4>
        <p>2020.03 ~ 2021.12</p>

        <h5>Description</h5>
        <p>
          카카오워크 오픈 api에 사용되는 조합형 메시지를 웹페이지에서 미리 확인할 수 있는 서비스를 단독 개발 및 유지보수
          했습니다.
        </p>

        <h5>What did I do</h5>
        <ul>
          <li>
            인턴십 과제로 시작한 개인 프로젝트였고 PoC 단계에서 실 서비스 배포까지 이뤄질 수 있도록 주도적으로
            개발했습니다.
          </li>
          <li>초기 설계 단계부터 구조 개선까지 필요한 시점마다 팀원분들에게 리뷰를 요청하면서 개발했습니다.</li>
          <li>서버 api 스펙이 변경되면 그에 맞춰 반영되도록 지금까지 유지보수 했습니다.</li>
        </ul>

        <h5>Tech Stack</h5>
        <p>React, TS, Styled-components, Webpack, monaco-editor, ajv</p>

        <h5>URL</h5>
        <ul>
          <li>
            <a href="https://www.kakaowork.com/block-kit-builder" target="_blank"
              >https://www.kakaowork.com/block-kit-builder</a
            >
          </li>
        </ul>
      </div>

      <h3 class="accordion">
        <a name="학생독립만세 (비개발)" class="anchor" href="#학생독립만세 (비개발)">학생독립만세 (비개발)</a>
      </h3>
      <div class="panel">
        <p>서비스 운영 및 기획자<br />2018.05 ~ 2019.04</p>

        <h3>
          <a name="후불제 과외 서비스 운영" class="anchor" href="#후불제 과외 서비스 운영">후불제 과외 서비스 운영</a>
        </h3>
        <ul>
          <li>
            2017년 초 후불제 과외 서비스라는 아이템이 구상 단계에 있었을 때, 해당 아이템의 사회적 가치(social impact)를
            부여하고 구체화하는 역할을 맡았습니다.
          </li>
          <li>이후 팀에 합류하게 되어, 정식 서비스로 시작되었을 때, 서비스 운영 업무를 담당했습니다.</li>
        </ul>

        <h3>
          <a
            name="HEXACO 기반 자체 심리검사 개발 및 운영"
            class="anchor"
            href="#HEXACO 기반 자체 심리검사 개발 및 운영"
          >
            HEXACO 기반 자체 심리검사 개발 및 운영
          </a>
        </h3>
        <ul>
          <li>위의 서비스 이용을 위해 학생들은 온라인상에서 지원을 합니다.</li>
          <li>그 뒤에 진정성 확인을 위해 1:1대면평가를 진행했지만, 시간 및 비용관계로 비대면 평가로 변경했습니다.</li>
          <li>
            그러나 비대면 평가는 어려운 점이 많았고, 이를 해결하기 위한 자체 심리검사 문항 및 평가 척도를 개발했습니다.
          </li>
          <li>저의 전문분야가 아니었기에 어려운 점과 부족한 점은 있었지만, 꽤 유의미한 결과를 얻어낼 수 있었습니다.</li>
        </ul>
      </div>

      <hr />

      <h2>
        <a name="Other Experiences" class="anchor" href="#Other Experiences">Other Experiences</a>
      </h2>

      <h3 class="accordion">
        <a name="넥스터즈 22기 개발자" class="anchor" href="#넥스터즈 22기 개발자"> 넥스터즈 22기 개발자</a>
      </h3>
      <div class="panel">
        <p>프론트엔드 개발자<br />2023.01 ~ 현재</p>
        <ul>
          <li>사이드 프로젝트에 대한 갈망을 풀고자 넥스터즈에 참여했습니다.</li>
          <li>제 아이디어를 발제하고 팀원을 모아 PM의 역할도 함께하며 프로젝트를 진행했습니다.</li>
          <li>
            프로젝트 중간에
            <a href="https://velog.io/@racoon/supabase-%ED%8F%BC-%EB%AF%B8%EC%B3%A4%EB%8B%A4" target="_blank">
              새로 학습하게 된 기술 스택(Supabase)
            </a>
            에 대해 공유하고자 발표도 진행했습니다.
          </li>
          <li>
            해당 프로젝트에 대한 내용은 <a href="https://github.com/Nexters/ditto" target="_blank">여기서</a>
            확인하실 수 있습니다.
          </li>
          <li>
            그리고 후기에 대한 글은
            <a
              href="https://velog.io/@racoon/230305-%EB%84%A5%EC%8A%A4%ED%84%B0%EC%A6%88-%EC%B2%AB-%ED%94%84%EB%A1%9C%EC%A0%9D%ED%8A%B8%EB%A5%BC-%EB%A7%88%EC%B9%98%EB%A9%B0"
              target="_blank"
            >
              여기서
            </a>
            확인하실 수 있습니다.
          </li>
          <li>새로운 사람들과 재미난 프로젝트를 하며 잃는 것 없이 좋은 것만 얻어간 유익한 활동이었습니다.</li>
        </ul>
      </div>

      <h3 class="accordion">
        <a
          name="부스트캠프 웹모바일 7기 멤버십 코드 리뷰어, 멘토"
          class="anchor"
          href="#부스트캠프 웹모바일 7기 멤버십 코드 리뷰어, 멘토"
        >
          부스트캠프 웹모바일 7기 멤버십 코드 리뷰어, 멘토
        </a>
      </h3>
      <div class="panel">
        <p>프론트엔드 코드 리뷰어, 멘토<br />2022.09 ~ 2022.12 (12주)</p>
        <ul>
          <li>성장에 기여하고 싶은 마음과 저또한 성장했는지 확인하고 싶은 마음으로 참여했습니다.</li>
          <li>코드 리뷰어 활동은 매주 4명의 코드 리뷰를 했습니다.</li>
          <li>주로 코드 일관성 및 개발 방향에 대한 피드백과, 학습하면서 궁금한 점에 대한 질의응답을 했습니다.</li>
          <li>피드백을 줄 때 어떻게 해야 효율적이고 긍정적인 영향을 줄 수 있을지 고민해볼 수 있었습니다.</li>
          <li>멘토는 2팀을 맡아서 매주 1회 미팅을 진행했습니다.</li>
          <li>
            주로 프로젝트 진행상황을 체크하고 특정 코드 및 방법론에 대한 질문과 심리적으로 위축되어 있지 않도록 격려하곤
            했습니다.
          </li>
          <li>
            멘토 후기를 글로 작성했는데
            <a
              href="https://velog.io/@racoon/%EB%B6%80%EC%8A%A4%ED%8A%B8%EC%BA%A0%ED%94%84-%EB%A9%A4%EB%B2%84%EC%8B%AD-%EB%A9%98%ED%86%A0-%ED%9B%84%EA%B8%B0"
              target="_blank"
            >
              여기서
            </a>
            확인하실 수 있습니다.
          </li>
        </ul>
      </div>

      <h3 class="accordion">
        <a
          name="부스트캠프 웹모바일 6기 멤버십 코드 리뷰어"
          class="anchor"
          href="#부스트캠프 웹모바일 6기 멤버십 코드 리뷰어"
        >
          부스트캠프 웹모바일 6기 멤버십 코드 리뷰어
        </a>
      </h3>
      <div class="panel">
        <p>프론트엔드 코드 리뷰어<br />2021.09 ~ 2021.10 (6주)</p>
        <ul>
          <li>도움을 얻은 만큼 드리고 싶었고, 다시 초심으로 돌아가는 마음도 갖고자 참여했습니다.</li>
          <li>매주 5, 6명의 코드 리뷰를 했습니다.</li>
          <li>
            해당 내용은 비공개 레포이기에
            <a href="./images/week1-2.png" target="_blank">1-2주차</a>,
            <a href="./images/week3-4.png" target="_blank">3-4주차</a>,
            <a href="./images/week5-6.png" target="_blank">5-6주차</a>
            관련 스크린샷을 남깁니다.
          </li>
          <li>주로 코드 일관성 및 개발 방향에 대한 피드백과, 학습하면서 궁금한 점에 대한 질의응답을 했습니다.</li>
          <li>피드백을 주는 과정에서 오히려 저도 성장하고 학습할 수 있는 기회였습니다.</li>
        </ul>
      </div>

      <h3 class="accordion">
        <a
          name="부스트캠프 2019(웹 4기) 챌린지/멤버십 수료"
          class="anchor"
          href="#부스트캠프 2019(웹 4기) 챌린지/멤버십 수료"
        >
          부스트캠프 2019(웹 4기) 챌린지/멤버십 수료
        </a>
      </h3>
      <div class="panel">
        <p>첼린지/멤버십 과정 수료생<br />2019.07 ~ 2019.12</p>
        <ul>
          <li>웹 개발 전반에 대해 이해를 넓힐 수 있었습니다.</li>
          <li>2개월 동안 팀 프로젝트를 스프린트 방식으로 진행하다 보니 현업에 빠르게 적응할 수 있었습니다.</li>
        </ul>

        <h4>팀 프로젝트(Boolean Avengers)</h4>
        <p>2019.11 ~ 2019.12</p>

        <h5>Description</h5>
        <p>
          <a href="https://www.gather.town/" target="_blank">GatherTown</a>처럼 한 방에서 여러 사용자들이 캐릭터를
          이동시키며 개발 상식 OX 퀴즈를 푸는 게임을 개발했습니다.
        </p>

        <h5>What did I do</h5>
        <ul>
          <li>
            socket 연결을 위한 NGINX 설정, 서버 Dockerize, Travis CI를 활용한 CI/CD 구성 등 배포를 위한 인프라 설정을
            했습니다.
          </li>
          <li>클라이언트와 서버 간의 Socket api 문서를 작성했습니다.</li>
          <li>Canvas api를 이용한 캐릭터 이동 로직을 구현했습니다.</li>
          <li>유저 정보 조회 및 수정을 위한 관리자 페이지를 개발했습니다.</li>
        </ul>

        <h5>Tech Stack</h5>
        <p>React, JS, Styled-components, Socket.IO, express, NGINX, docker, MySQL</p>

        <h5>URL</h5>
        <ul>
          <li>
            github:
            <a href="https://github.com/connect-foundation/2019-01" target="_blank">
              https://github.com/connect-foundation/2019-01
            </a>
          </li>
          <li>
            demo:
            <a href="https://www.youtube.com/watch?v=ByhvS6dEXKk" target="_blank">
              https://www.youtube.com/watch?v=ByhvS6dEXKk
            </a>
          </li>
        </ul>
      </div>

      <h3 class="accordion">
        <a name="성균관대학교" class="anchor" href="#성균관대학교">성균관대학교</a>
      </h3>
      <div class="panel">
        <p>컴퓨터공학과, 경영학과 학사<br />2012.03 ~ 2020.02</p>
        <ul>
          <li>컴퓨터공학에 대한 기본 소양을 익혔습니다.</li>
          <li>
            경영학과를 복수전공을 하여 회계, 비즈니스 모델 등 경영학 기본 소양을 배우면서 더욱 유연한 시각을 가질 수
            있었습니다.
          </li>
          <li>그러나, 재미있는 사실은 복수전공을 하면서 저의 천직이 개발자임을 느낄 수 있었습니다.</li>
        </ul>
      </div>

      <hr />

      <h2>
        <a name="Skills" class="anchor" href="#Skills">Skills</a>
      </h2>
      <h3>
        <a name="Frontend" class="anchor" href="#Frontend">Frontend</a>
      </h3>
      <ul>
        <li>HTML/CSS</li>
        <li>JavaScript, TypeScript</li>
        <li>React, Relay, GraphQL, Next.js</li>
        <li>Svelte, SvelteKit, RxJS</li>
        <li>Styled-components, emotion.js, Stylus, unocss</li>
        <li>npm, yarn, Turborepo</li>
        <li>Webpack, Babel, rollup, Vite</li>
        <li>jest, Vitest, Storybook</li>
        <li>Puppeteer</li>
      </ul>

      <h3>
        <a name="Backend" class="anchor" href="#Backend">Backend</a>
      </h3>
      <ul>
        <li>Node.js, Express</li>
        <li>Phoenix Framework (Elixir)</li>
      </ul>

      <h3>
        <a name="Database" class="anchor" href="#Database">Database</a>
      </h3>
      <ul>
        <li>MySQL, PostgreSQL</li>
      </ul>

      <h3>
        <a name="DevOps & Etc" class="anchor" href="#DevOps & Etc">DevOps &amp; Etc</a>
      </h3>
      <ul>
        <li>Docker, Docker-compose</li>
        <li>NCP(Naver Cloud Platform) Server, Object Storage, Cloudflare Pages, Vercel</li>
        <li>Firebase, Supabase</li>
        <li>Travis CI, Github Actions</li>
      </ul>
      <hr />
    </main>
    <script is:inline>
      document.addEventListener('scroll', () => {
        const docElem = document.documentElement;
        const docBody = document.body;
        const scrollTop = document.documentElement['scrollTop'] || docBody['scrollTop'];
        const scrollBottom = (docElem['scrollHeight'] || docBody['scrollHeight']) - window.innerHeight;
        const scrollPercent = (scrollTop / scrollBottom) * 100 + '%';

        document.getElementById('progress-bar').style.setProperty('--scrollAmount', scrollPercent);
      });
      document.querySelectorAll('.accordion').forEach((accordion) => {
        accordion.addEventListener('click', () => accordion.classList.toggle('active'));
      });
    </script>
  </body>
</html>
