---
interface Props {
  title: string;
  active?: boolean;
}

const { title, active = false } = Astro.props;
---

<h3 class:list={['accordion', { active }]}>
  <span class="accordion-title">
    {title}
  </span>
</h3>
<div class="panel" hidden={active ? null : 'until-found'}>
  <slot />
</div>

<script>
  document.querySelectorAll('.accordion').forEach((accordion) => {
    accordion.addEventListener('click', () => {
      accordion.classList.toggle('active');

      const panel = accordion.nextElementSibling;
      if (accordion.classList.contains('active')) {
        panel?.removeAttribute('hidden');
      } else {
        panel?.setAttribute('hidden', 'until-found');
      }
    });
  });

  document.querySelectorAll('.panel').forEach((panel) => {
    panel.addEventListener('beforematch', () => {
      panel.previousElementSibling?.classList.add('active');
    });
  });
</script>
