---
import HeadingInner from './HeadingInner.astro';

interface Props {
  as: 'h1' | 'h2' | 'h3';
  name: string;
}

const { as, name } = Astro.props;
---

{
  as === 'h1' && (
    <h1 class="heading">
      <HeadingInner name={name} />
    </h1>
  )
}
{
  as === 'h2' && (
    <h2 class="heading">
      <HeadingInner name={name} />
    </h2>
  )
}
{
  as === 'h3' && (
    <h3 class="heading">
      <HeadingInner name={name} />
    </h3>
  )
}
