<div class="progress-bar"></div>

<script>
  const setScrollPercent = () => {
    const docElem = document.documentElement;
    const docBody = document.body;
    const scrollTop = document.documentElement['scrollTop'] || docBody['scrollTop'];
    const scrollBottom = (docElem['scrollHeight'] || docBody['scrollHeight']) - window.innerHeight;
    const scrollPercent = (scrollTop / scrollBottom) * 100 + '%';

    document.querySelectorAll('.progress-bar').forEach((element) => {
      (element as HTMLDivElement).style.setProperty('--scrollAmount', scrollPercent);
    });
  };
  document.addEventListener('scroll', setScrollPercent);
  document.addEventListener('click', setScrollPercent);
</script>
